<div class="jumbotron">
	<h1>Welcome to Danilo's App</h1>
	<p>Brazilian news <a href="http:www.uol.com.br">here</a>.</p>
	<p>Click here to <%= link_to "sign up", "http://www.globo.com", class:"btn btn-primary btn-lg"%>.</p>
	<p>See <%= link_to "about us", "about"%>.</p>
</div>